<!-- Copyright (C) 2002-2024 CERN for the benefit of the ATLAS collaboration -->
<!-- footer.html -->
<div class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="https://gitlab.cern.ch/artprod/art-www/pipelines">Version: {% include version.txt %}</a><li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="footer">Copyright© 2017-2024 ATLAS, CERN</li>
        <li><a class="mail" href="mailto:brinick.simmons@NOSPAM.cern.ch?subject=ART Website"><i class="fa fa-envelope"></i>&nbsp;ART</a></li>
    </ul>
  </div>
</div>
