<!-- Copyright (C) 2002-2024 CERN for the benefit of the ATLAS collaboration -->
<!-- menu.html -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="{{page.relative}}index.php" class="navbar-brand">ART <!-- <img src="{{page.relative}}logos/art.png" height="30x"> --></a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Project <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{page.relative}}status">ART Job Status</a></li>
          </ul>
        </li>
      </ul>

      <form class="navbar-form navbar-left" action="{{page.relative}}search.html" method="get">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" type="text" id="search-query" name="q" placeholder="Search for..." autocomplete="off">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Search</button>
            </span>
          </div>
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://cern.ch/atlas">ATLAS</a></li>
      </ul>
    </div>
  </div>
</nav>
