<!DOCTYPE html>
<!-- Copyright (C) 2002-2024 CERN for the benefit of the ATLAS collaboration -->

{% include warning.html %}

<html lang="en">
  <head>
    {% include header.html %}
  </head>

  <body>
	  {% include menu.html %}

    <div class="container">
        {{ content }}
    </div>

    {% include footer.html %}
  </body>
</html>
